<div class="heading">
  <p>Utility Service</p>
  <img src="../../assets/images/Move Right 2.svg" alt="Right_arrow" />
</div>
<div class="process">
  <label for="Process_ID">Process Definition ID</label>
  <div class="input_Container">
    <input
      class="process_input"
      type="text"
      name="Process_ID"
      placeholder="GaianWorkflows3197:18:364051a-d1da"
    />
    <img src="../../assets/images/vertical-line.svg" alt="heighlighter" />
  </div>
</div>
<div class="process">
  <label for="Deployment_ID">Deployment ID</label>
  <div class="input_Container">
    <input
      class="process_input"
      type="text"
      name="Deployment_ID"
      placeholder="a35fe667-d1da-11ed-ad2e-26bb42093,"
    />
    <img src="../../assets/images/vertical-line.svg" alt="heighlighter" />
  </div>
</div>
<div class="parameters1">
  <p>
    <span
      ><img
        src="../../assets/images/Time Hour Glass.svg"
        alt="time hour glass"
        style="width: 16px; height: 16px; flex-shrink: 0" /></span
    >96ms
  </p>
  <p>
    <span
      ><img
        src="../../assets/images/Graph Bar Increase Square.svg"
        alt="Graph bar"
        style="width: 16px; height: 16px; flex-shrink: 0" /></span
    >100%
  </p>
  <p>
    <span
      ><img
        src="../../assets/images/Graph Bar Increase Square.svg"
        alt="Graph bar"
        style="width: 16px; height: 16px; flex-shrink: 0" /></span
    >100%
  </p>
</div>
<div
  style="width: 311px; margin-top: 16px; height: 1px; background: #eaeaea"
></div>
<div class="endpoints">
  <p>Endpoints</p>
  <p>21</p>
</div>
<div class="rest_calls">
  <div class="post_call">
    <img src="../../assets/images/Mail Send Email Message.svg" alt="post" class="rest_symbol">
    <div class="rest_count">55</div>
    <div class="rest_type">POST</div>
  </div>
  <div class="get_call">
    <img src="../../assets/images/Download Stack.svg" alt="get" class="rest_symbol">
    <div class="rest_count">0</div>
    <div class="rest_type">GET</div>
  </div>
  <div class="put_call">
    <img src="../../assets/images/Request Files.svg" alt="put" class="rest_symbol">
    <div class="rest_count">55</div>
    <div class="rest_type">PUT</div>
  </div>
  <div class="delete_call">
    <img src="../../assets/images/Recycle Bin 1.svg" alt="post" class="rest_symbol">
    <div class="rest_count">55</div>
    <div class="rest_type">DELETE</div>
  </div>
</div>
<div
  style="width: 280px; margin-left: 16px; height: 1px; background: #eaeaea"
></div>
<div class="parameters2">
  <p>
    <span
      ><img
        src="../../assets/images/Star 1.svg"
        alt="Start"
        style="width: 18px; height: 18px; flex-shrink: 0" /></span
    >4.7
  </p>
  <p>
    <span
      ><img
        src="../../assets/images/Mail Chat Bubble Oval Check.svg"
        alt="Mail-Chat"
        style="width: 16px; height: 16px; flex-shrink: 0" /></span
    >311
  </p>
  <p>
    <span
      ><img
        src="../../assets/images/Workflow Teamwork Handshake.svg"
        alt="Teamwork"
        style="width: 16px; height: 16px; flex-shrink: 0" /></span
    >4
  </p>
  <p>
    <span
      ><img
        src="../../assets/images/Calendar Schedule.svg"
        alt="calender"
        style="width: 16px; height: 16px; flex-shrink: 0" /></span
    >3Yrs
  </p>
</div>
<div class="analysis">
<section >
    <p style="opacity: 0.5;margin: 0px;">Created</p>
    <p>21 May 2023</p>
</section>
<section>
<p style="opacity: 0.5;margin: 0px;">Modified</p>
<p>21 May 2023</p>

</section>
<section>
    <p style="opacity: 0.5;margin: 0px;">Bugs</p>
    <p><img src="../../assets/images/Bug.svg" alt="Bug">21 <img src="../../assets/images/Bug Antivirus Debugging.svg" alt="Antivirus" style="margin-left: 10px;"></p>
</section>

</div>
<div class="property_analysis" >
<div >
    <p style="margin-bottom: 1px;">1mo / 10k <br>API Calls <br><span style="color: #868F9E; font-weight: 400;">Free Tier</span></p>
    <p>2% <br><span style="color: #868F9E; font-weight: 400;">Consumer <br> Revenue</span></p>
</div>
<div >
    <p>$6 / API <br><span style="color: #868F9E; font-weight: 400;">Metered SaaS</span></p>
    <p>12% <br><span style="color: #868F9E; font-weight: 400;">Ad Revenue</span></p>
</div>
<div >
    <p>$0 / Month  <br><span style="color: #868F9E; font-weight: 400;">Fixed SaaS</span></p>
    <p>Yes <br><span style="color: #868F9E; font-weight: 400;">Data as <br> Currency</span></p>
</div>

</div>
