.heading {
    position: sticky;
    top: 0px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 311px;
  height: 32px;
  flex-shrink: 0;
  border-bottom: 1px solid #eaeaea;
  background: #fff;
}
.heading p {
  margin: 0%;
}
.process {
  width: 280px;
  height: 54px;
  flex-shrink: 0;
  margin: 16px;
}
label {
  color: #4a5a70;

  /* T1 400/Base */
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.input_Container {
  display: flex;
  width: 280px;
  height: 32px;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.input_field {
  width: 280px;
  height: 32px;
  border: none;
  color: var(--neutral-colours-grey-900, #2f3238);
  background-color: #f9f9f9;
  /* T1 400/Base */
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.toggle_btns{
    margin: 20px 8px 0px 8px;
    display: flex;
width: 295px;
height: 32px;
justify-content: center;
align-items: flex-start;
flex-shrink: 0;
}
.private_button,.create_btn{
    display: flex;
    width: 150px;
    min-height: 13px;
    padding: 8.5px 11.09px 8.5px 11px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-shrink: 0;
    align-self: stretch;
    flex-wrap: wrap;
    border-radius: 4px 4px 0px 4px;
    border: 1px solid #DEDEDE;;
color: #FAFAFA;
background: var(--primary-colour-primary-500, #00A1ED);
}
.github_button,.cancel_btn{
    display: flex;
    width: 145px;
    min-height: 13px;
    padding: 8.5px 9.98px 8.5px 12px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-shrink: 0;
    align-self: stretch;
    flex-wrap: wrap;
    color: var(--neutral-colours-grey-800, #424750);
    border-radius: 4px 4px 4px 4px;
    border-left: 1px solid #DEDEDE;
border-top: 1px solid #DEDEDE;
border-right: 1px solid #DEDEDE;
border-bottom: 1px solid #DEDEDE;
background: #FAFAFA;
}
.action_btns{
    display: flex;
width: 311px;
height: 32px;
justify-content: center;
align-items: flex-start;
flex-shrink: 0;
position: absolute;
    bottom: 0px;
box-shadow: 0px -2.05263px 8.21053px 0px rgba(0, 0, 0, 0.08);
}
.routing-link{
    color: #505562;
    margin-left: 16px;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 19.999px; /* 166.658% */
// text-decoration-line: underline;
}