<section id="card_container">
    <div class="card">
      <section class="top-part">
        <div class="TagsBar">
          <div class="dots"></div>
          <div class="dots"></div>
        </div>
        <div class="card_image">
          <img
            src="../../assets/images/card_Image.png"
            alt="imageCard"
            style="width: 159px; height: 159px; flex-shrink: 0"
          />
        </div>
      </section>
      <section class="bottom-part">
        <p class="service-type">Utility Service</p>
        <p class="owner-name">Tulika Pandey | Nightingale</p>
        <p class="service-info">
          This API allows you to search and filter on the index of all Employee
          Absenses from your HRIS / HRMS Database.
        </p>
        <div style="width: 100%; display: flex">
          <div class="service-call">REST</div>
          <div class="rattings">
            <span
              ><img src="../../assets/images/Version.svg" alt="Version" /></span
            >2.1
          </div>
          <div class="rattings">
            <span
              ><img
                src="../../assets/images/Business Contract Give.svg"
                alt="Version" /></span
            >12
          </div>
          <div class="rattings">
            <span><img src="../../assets/images/Star 1.svg" alt="star" /></span
            >4.7
          </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between;">
          <section class="created">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Created</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
          <section class="modified">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Modified</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
        </div>
        <div class="endpoints-container">
          <img style="width: 16px;height: 16px;margin-right: 8px;" src="../../assets/images/Meeting Point.svg" alt="endpoints" srcset="">
          <p class="endpoints">21 Endpoints</p>
        </div>
        <img src="../../assets/images/Module Four.svg" alt="background-Block" class="background-block">
      </section>
    </div>
    <div class="card">
      <section class="top-part">
        <div class="TagsBar">
          <div class="dots"></div>
          <div class="dots"></div>
        </div>
        <div class="card_image">
          <img
            src="../../assets/images/card_Image.png"
            alt="imageCard"
            style="width: 159px; height: 159px; flex-shrink: 0"
          />
        </div>
      </section>
      <section class="bottom-part">
        <p class="service-type">Utility Service</p>
        <p class="owner-name">Tulika Pandey | Nightingale</p>
        <p class="service-info">
          This API allows you to search and filter on the index of all Employee
          Absenses from your HRIS / HRMS Database.
        </p>
        <div style="width: 100%; display: flex">
          <div class="service-call">REST</div>
          <div class="rattings">
            <span
              ><img src="../../assets/images/Version.svg" alt="Version" /></span
            >2.1
          </div>
          <div class="rattings">
            <span
              ><img
                src="../../assets/images/Business Contract Give.svg"
                alt="Version" /></span
            >12
          </div>
          <div class="rattings">
            <span><img src="../../assets/images/Star 1.svg" alt="star" /></span
            >4.7
          </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between;">
          <section class="created">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Created</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
          <section class="modified">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Modified</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
        </div>
        <div class="endpoints-container">
          <img style="width: 16px;height: 16px;margin-right: 8px;" src="../../assets/images/Meeting Point.svg" alt="endpoints" srcset="">
          <p class="endpoints">21 Endpoints</p>
        </div>
        <img src="../../assets/images/Module Four.svg" alt="background-Block" class="background-block">
      </section>
    </div>
    <div class="card">
      <section class="top-part">
        <div class="TagsBar">
          <div class="dots"></div>
          <div class="dots"></div>
        </div>
        <div class="card_image">
          <img
            src="../../assets/images/card_Image.png"
            alt="imageCard"
            style="width: 159px; height: 159px; flex-shrink: 0"
          />
        </div>
      </section>
      <section class="bottom-part">
        <p class="service-type">Utility Service</p>
        <p class="owner-name">Tulika Pandey | Nightingale</p>
        <p class="service-info">
          This API allows you to search and filter on the index of all Employee
          Absenses from your HRIS / HRMS Database.
        </p>
        <div style="width: 100%; display: flex">
          <div class="service-call">REST</div>
          <div class="rattings">
            <span
              ><img src="../../assets/images/Version.svg" alt="Version" /></span
            >2.1
          </div>
          <div class="rattings">
            <span
              ><img
                src="../../assets/images/Business Contract Give.svg"
                alt="Version" /></span
            >12
          </div>
          <div class="rattings">
            <span><img src="../../assets/images/Star 1.svg" alt="star" /></span
            >4.7
          </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between;">
          <section class="created">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Created</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
          <section class="modified">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Modified</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
        </div>
        <div class="endpoints-container">
          <img style="width: 16px;height: 16px;margin-right: 8px;" src="../../assets/images/Meeting Point.svg" alt="endpoints" srcset="">
          <p class="endpoints">21 Endpoints</p>
        </div>
        <img src="../../assets/images/Module Four.svg" alt="background-Block" class="background-block">
      </section>
    </div>
    <div class="card">
      <section class="top-part">
        <div class="TagsBar">
          <div class="dots"></div>
          <div class="dots"></div>
        </div>
        <div class="card_image">
          <img
            src="../../assets/images/card_Image.png"
            alt="imageCard"
            style="width: 159px; height: 159px; flex-shrink: 0"
          />
        </div>
      </section>
      <section class="bottom-part">
        <p class="service-type">Utility Service</p>
        <p class="owner-name">Tulika Pandey | Nightingale</p>
        <p class="service-info">
          This API allows you to search and filter on the index of all Employee
          Absenses from your HRIS / HRMS Database.
        </p>
        <div style="width: 100%; display: flex">
          <div class="service-call">REST</div>
          <div class="rattings">
            <span
              ><img src="../../assets/images/Version.svg" alt="Version" /></span
            >2.1
          </div>
          <div class="rattings">
            <span
              ><img
                src="../../assets/images/Business Contract Give.svg"
                alt="Version" /></span
            >12
          </div>
          <div class="rattings">
            <span><img src="../../assets/images/Star 1.svg" alt="star" /></span
            >4.7
          </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between;">
          <section class="created">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Created</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
          <section class="modified">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Modified</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
        </div>
        <div class="endpoints-container">
          <img style="width: 16px;height: 16px;margin-right: 8px;" src="../../assets/images/Meeting Point.svg" alt="endpoints" srcset="">
          <p class="endpoints">21 Endpoints</p>
        </div>
        <img src="../../assets/images/Module Four.svg" alt="background-Block" class="background-block">
      </section>
    </div>
    <div class="card">
      <section class="top-part">
        <div class="TagsBar">
          <div class="dots"></div>
          <div class="dots"></div>
        </div>
        <div class="card_image">
          <img
            src="../../assets/images/card_Image.png"
            alt="imageCard"
            style="width: 159px; height: 159px; flex-shrink: 0"
          />
        </div>
      </section>
      <section class="bottom-part">
        <p class="service-type">Utility Service</p>
        <p class="owner-name">Tulika Pandey | Nightingale</p>
        <p class="service-info">
          This API allows you to search and filter on the index of all Employee
          Absenses from your HRIS / HRMS Database.
        </p>
        <div style="width: 100%; display: flex">
          <div class="service-call">REST</div>
          <div class="rattings">
            <span
              ><img src="../../assets/images/Version.svg" alt="Version" /></span
            >2.1
          </div>
          <div class="rattings">
            <span
              ><img
                src="../../assets/images/Business Contract Give.svg"
                alt="Version" /></span
            >12
          </div>
          <div class="rattings">
            <span><img src="../../assets/images/Star 1.svg" alt="star" /></span
            >4.7
          </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between;">
          <section class="created">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Created</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
          <section class="modified">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Modified</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
        </div>
        <div class="endpoints-container">
          <img style="width: 16px;height: 16px;margin-right: 8px;" src="../../assets/images/Meeting Point.svg" alt="endpoints" srcset="">
          <p class="endpoints">21 Endpoints</p>
        </div>
        <img src="../../assets/images/Module Four.svg" alt="background-Block" class="background-block">
      </section>
    </div>
    <div class="card">
      <section class="top-part">
        <div class="TagsBar">
          <div class="dots"></div>
          <div class="dots"></div>
        </div>
        <div class="card_image">
          <img
            src="../../assets/images/card_Image.png"
            alt="imageCard"
            style="width: 159px; height: 159px; flex-shrink: 0"
          />
        </div>
      </section>
      <section class="bottom-part">
        <p class="service-type">Utility Service</p>
        <p class="owner-name">Tulika Pandey | Nightingale</p>
        <p class="service-info">
          This API allows you to search and filter on the index of all Employee
          Absenses from your HRIS / HRMS Database.
        </p>
        <div style="width: 100%; display: flex">
          <div class="service-call">REST</div>
          <div class="rattings">
            <span
              ><img src="../../assets/images/Version.svg" alt="Version" /></span
            >2.1
          </div>
          <div class="rattings">
            <span
              ><img
                src="../../assets/images/Business Contract Give.svg"
                alt="Version" /></span
            >12
          </div>
          <div class="rattings">
            <span><img src="../../assets/images/Star 1.svg" alt="star" /></span
            >4.7
          </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between;">
          <section class="created">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Created</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
          <section class="modified">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Modified</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
        </div>
        <div class="endpoints-container">
          <img style="width: 16px;height: 16px;margin-right: 8px;" src="../../assets/images/Meeting Point.svg" alt="endpoints" srcset="">
          <p class="endpoints">21 Endpoints</p>
        </div>
        <img src="../../assets/images/Module Four.svg" alt="background-Block" class="background-block">
      </section>
    </div>
    <div class="card">
      <section class="top-part">
        <div class="TagsBar">
          <div class="dots"></div>
          <div class="dots"></div>
        </div>
        <div class="card_image">
          <img
            src="../../assets/images/card_Image.png"
            alt="imageCard"
            style="width: 159px; height: 159px; flex-shrink: 0"
          />
        </div>
      </section>
      <section class="bottom-part">
        <p class="service-type">Utility Service</p>
        <p class="owner-name">Tulika Pandey | Nightingale</p>
        <p class="service-info">
          This API allows you to search and filter on the index of all Employee
          Absenses from your HRIS / HRMS Database.
        </p>
        <div style="width: 100%; display: flex">
          <div class="service-call">REST</div>
          <div class="rattings">
            <span
              ><img src="../../assets/images/Version.svg" alt="Version" /></span
            >2.1
          </div>
          <div class="rattings">
            <span
              ><img
                src="../../assets/images/Business Contract Give.svg"
                alt="Version" /></span
            >12
          </div>
          <div class="rattings">
            <span><img src="../../assets/images/Star 1.svg" alt="star" /></span
            >4.7
          </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between;">
          <section class="created">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Created</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
          <section class="modified">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Modified</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
        </div>
        <div class="endpoints-container">
          <img style="width: 16px;height: 16px;margin-right: 8px;" src="../../assets/images/Meeting Point.svg" alt="endpoints" srcset="">
          <p class="endpoints">21 Endpoints</p>
        </div>
        <img src="../../assets/images/Module Four.svg" alt="background-Block" class="background-block">
      </section>
    </div>
    <div class="card">
      <section class="top-part">
        <div class="TagsBar">
          <div class="dots"></div>
          <div class="dots"></div>
        </div>
        <div class="card_image">
          <img
            src="../../assets/images/card_Image.png"
            alt="imageCard"
            style="width: 159px; height: 159px; flex-shrink: 0"
          />
        </div>
      </section>
      <section class="bottom-part">
        <p class="service-type">Utility Service</p>
        <p class="owner-name">Tulika Pandey | Nightingale</p>
        <p class="service-info">
          This API allows you to search and filter on the index of all Employee
          Absenses from your HRIS / HRMS Database.
        </p>
        <div style="width: 100%; display: flex">
          <div class="service-call">REST</div>
          <div class="rattings">
            <span
              ><img src="../../assets/images/Version.svg" alt="Version" /></span
            >2.1
          </div>
          <div class="rattings">
            <span
              ><img
                src="../../assets/images/Business Contract Give.svg"
                alt="Version" /></span
            >12
          </div>
          <div class="rattings">
            <span><img src="../../assets/images/Star 1.svg" alt="star" /></span
            >4.7
          </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between;">
          <section class="created">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Created</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
          <section class="modified">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Modified</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
        </div>
        <div class="endpoints-container">
          <img style="width: 16px;height: 16px;margin-right: 8px;" src="../../assets/images/Meeting Point.svg" alt="endpoints" srcset="">
          <p class="endpoints">21 Endpoints</p>
        </div>
        <img src="../../assets/images/Module Four.svg" alt="background-Block" class="background-block">
      </section>
    </div>
    <div class="card">
      <section class="top-part">
        <div class="TagsBar">
          <div class="dots"></div>
          <div class="dots"></div>
        </div>
        <div class="card_image">
          <img
            src="../../assets/images/card_Image.png"
            alt="imageCard"
            style="width: 159px; height: 159px; flex-shrink: 0"
          />
        </div>
      </section>
      <section class="bottom-part">
        <p class="service-type">Utility Service</p>
        <p class="owner-name">Tulika Pandey | Nightingale</p>
        <p class="service-info">
          This API allows you to search and filter on the index of all Employee
          Absenses from your HRIS / HRMS Database.
        </p>
        <div style="width: 100%; display: flex">
          <div class="service-call">REST</div>
          <div class="rattings">
            <span
              ><img src="../../assets/images/Version.svg" alt="Version" /></span
            >2.1
          </div>
          <div class="rattings">
            <span
              ><img
                src="../../assets/images/Business Contract Give.svg"
                alt="Version" /></span
            >12
          </div>
          <div class="rattings">
            <span><img src="../../assets/images/Star 1.svg" alt="star" /></span
            >4.7
          </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between;">
          <section class="created">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Created</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
          <section class="modified">
            <p class="owner-name" style="margin: 10px 0px 0px 0px;">Modified</p>
            <p class="timming">23 May 2023, 1pm IST</p>
          </section>
        </div>
        <div class="endpoints-container">
          <img style="width: 16px;height: 16px;margin-right: 8px;" src="../../assets/images/Meeting Point.svg" alt="endpoints" srcset="">
          <p class="endpoints">21 Endpoints</p>
        </div>
        <img src="../../assets/images/Module Four.svg" alt="background-Block" class="background-block">
      </section>
    </div>

  </section>
