  <div id="top_container">
    <div id="mobius_upper">
      <img
        id="mobius"
        src="../../assets/images/Mobius 09-02-2023 v-01 4.svg"
        alt="mobius"
      />
    </div>
    <div id="menu_navigation">
      <section id="holocracy">
        <div class="symbol_container bottom_line">
          <img src="../../assets/images/holacracy.svg" alt="holacracy_symbol" />
        </div>
      </section>
      <section id="monet">
        <div class="symbol_container bottom_line">
          <img src="../../assets/images/monet.svg" alt="monet_symbol" />
        </div>
      </section>
      <section id="vinci">
        <div class="symbol_container bottom_line">
          <img src="../../assets/images/vinci.svg" alt="vinci_symbol" />
        </div>
      </section>
      <section id="bob">
        <div class="symbol_container">
          <img src="../../assets/images/bob.svg" alt="bob_symbol" />
        </div>
        <div class="symbol_container">
          <img src="../../assets/images/bob1.svg" alt="bob1_symbol" />
        </div>
        <div class="symbol_container">
          <img src="../../assets/images/bob2.svg" alt="bob2_symbol" />
        </div>
        <div class="symbol_container">
          <img src="../../assets/images/bob3.svg" alt="bob3_symbol" />
        </div>
        <div class="symbol_container bottom_line">
          <img src="../../assets/images/bob4.svg" alt="bob4_symbol" />
        </div>
      </section>
      <section id="Pi">
        <div class="symbol_container bottom_line">
          <img src="../../assets/images/PI.svg" alt="holacracy_symbol" />
        </div>
      </section>
    </div>
  </div>
  <div id="bottom_container">
    <section id="profile">
      <div class="symbol_container top_line">
        <img src="../../assets/images/profileImg.svg" alt="profileImg" />
      </div>
    </section>
    <section id="mobius_bottom">
      <p
        style="
          color: #797979;
          margin: 0%;
          text-align: center;
          font-family: Plus Jakarta Sans;
          font-size: 8px;
          font-style: normal;
          font-weight: 400;
          line-height: 12px; /* 200% */
        "
      >
        Powered by
      </p>
      <div class="symbol_container">
        <img
          style="
            width: 32px;
            height: 23px;
            flex-shrink: 0;
            background: url(../../assets/images/Mobius\ black\ and\ white\ 1.svg);
            mix-blend-mode: difference;
          "
          src="../../assets/images/Mobius black and white 1.svg"
          alt="mobiusImg"
        />
      </div>
    </section>
  </div>
