    <section id="top_part" >
        <img id="plus" class="images" src="../../assets/images/plus.svg" alt="plus">
        <img style="width: 24px;
        height: 24px;" class="images" src="../../assets/images/setting.svg" alt="setting">
        <img style="width: 24px;
        height: 24px;" class="images" src="../../assets/images/Signal.svg" alt="signal">
    </section>
    <section id="middle_part">
        <img src="../../assets/images/Ai Cloud Robot.svg" alt="AI cloud robot" >
        <img src="../../assets/images/starbox.svg" alt="starbox" >
        <img src="../../assets/images/Signage 4.svg" alt="Signage" >
        <img src="../../assets/images/Interface File Clipboard Text.svg" alt="clipboard" >
        <img src="../../assets/images/Interface User Collaborate.svg" alt="users" >
        <img src="../../assets/images/Alarm Bell.svg" alt="AlarmBell" >
    </section>
    <section id="delete">
        <img src="../../assets/images/Delete.svg" alt="delete" >
    </section>
    